.HeroSectionContainer {
    margin-top: 5vh;
    text-align: center;
}

.HeroSectionContainer h1 {
    width: 50vw;
    height: 40vh;
    font-size: 14vh;
    font-family: 'Roboto', monospace;
    font-weight: 700;
    margin-bottom: 2vh;
}

.custom-btn {
    width: 15vw;
    height: 13vh;
    color: black;
    border-radius: 5px;
    font-size: 7vh;  
    font-family: 'Roboto', monospace;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    margin-left: 50%;
    margin-bottom: 2vh;
    top: -20vh;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
        7px 7px 20px 0px rgba(0,0,0,.1),
        4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-7 {
    background: linear-gradient(0deg, #FFB30B 0%, #F36A3E 100% 100%);
    padding: 0;
    border: none;
    margin-top: 5vh;
}
.btn-7 span {
    line-height: 0.9;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-7:before,.btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #F36A3E;
    box-shadow: -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
    }
.btn-7:before{
    height: 0%;
    width: 2px;
}
.btn-7:after {
    width: 0%;
    height: 2px;
}
.btn-7:hover{
    color: #F36A3E;
    background: transparent;
}
.btn-7:hover:before {
    height: 100%;
}
.btn-7:hover:after {
    width: 100%;
}
.btn-7 span:before,.btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #F36A3E;
    box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
    }
.btn-7 span:before {
    width: 2px;
    height: 0%;
}
.btn-7 span:after {
    height: 2px;
    width: 0%;
}
.btn-7 span:hover:before {
    height: 100%;
}
.btn-7 span:hover:after {
    width: 100%;
}

.HeroSectionContainer h2 {
    font-size: 3vh;
    font-family: 'Roboto', monospace;
    font-weight: 400;
    margin-bottom: 2vh;
    margin-left: 5vw;
    text-align: start;
}

.newProductsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
  
.newProductsContainer .newProductCard.right {
    align-self: flex-end;
    margin-right: 5vw;
}

.newProductsContainer .newProductCard.left {
    align-self: flex-start;
    margin-left: 5vw;
}
  
.newProductCard {
    width: max-content;
    width: 40%; 
    border-radius: 15px;
    margin-bottom: 0;
}

.newProductDescription {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
    width: 40%;
    font-size: 2vh;
    font-family: 'Roboto', monospace;
    text-align: center;
    justify-content: center;
    font-weight: 400;
}

.newProductDescription.right {
    align-self: flex-end;
    margin-right: 6vw;
}

.newProductDescription.left {
    align-self: flex-start;
    margin-left: 6vw;
}

.newProductCard img {
    transition: transform 0.5s;
    margin-bottom: 2vh;
}

.newProductCard img:hover {
    transform: scale(1.45);
}

h3 {
    display: flex;
    text-align: center;
    width: max-content;
    margin: auto;
}

h3:hover {
    color: #FFB30B;
    text-decoration: underline;
    cursor: pointer;
}