.productContainer, .productLeftSection, .producRightSection, .productQuantityContainer {
    display: flex;
}

ul.breadcrumb {
    list-style: none;
    margin-top: 2vh;
    margin-inline-start: 10vh;
    justify-content: center;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #F36A3E;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #F36A3E;
    text-decoration: underline;
}

.productContainer {
    margin-bottom: 5vh;
    margin-left: 14vh;
}

.productLeftSection, .producRightSection {
    flex-direction: column;
}

.producRightSection {
    margin-left: 5%;
    margin-top: 5%;
}

.productCenterSection {
    align-self: center;
    width: fit-content;
}

.productNameSpan, .productPriceSpan {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.productPriceSpan {
    font-size: 25px;
    margin-right: 2%;
}

.productPricePerKgSpan {
    font-size: 12px;
}

.productPriceContainer {
    margin-bottom: 5%;
}

img {
    margin: 5px;
    border-radius: 10px;
    border: black solid 2px;
}

.mainPicture {
    width: 450px;
    height: 475px;
}


.addToCartButton {
    text-decoration-color: transparent;
    margin-top: 5%;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #F36A3E;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px rgba(139, 47, 47, 0.7);
    transition: 0.5s;
}

.addToCartButton:hover {
    box-shadow: none;
    text-decoration: underline;
    animation: rollShadow 0.5s ;
}

.addToCartButton:focus {
    outline: none;
}
.productQuantityContainer {
    align-items: center;
}

input {
    width: 90px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    border: none;
    border: black solid 1px; 
}

input:focus {
    outline: none; 
}

.minus, .plus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    font-size: 30px;
    height: 34px;
    background-color: #F36A3E;
    font-size: large;
    color: black;
    cursor: pointer;
    border: black solid 1px;
    font-size: 30px;
}

.roundedDivider {
    width: 90%;
    border-top: 8px solid #FD9827;
    border-radius: 5px;
}

.descriptionContainer {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 75vw;
    text-align: justify;
    font-size: 3vh;
    line-height: 5vh;
}

.descriptionHeader {
    display: flex;
    font-size: 4vh;
    text-align: center;
    margin-bottom: 2vh;
}

.similarProductsContainer {
    display: inline;
}

.similarProductCard {
    display: inline-block;
    margin: 2vh;
    width: 15vw;
    height: 30vh;
    border-radius: 10px;
    transition: 0.5s;
}

.similarProductCard span {
    font-size: 2vh;
    text-align: center;
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@keyframes rollShadow {
    0% { box-shadow: rgba(139, 47, 47, 0.7) 5px 5px; }
    100% { box-shadow: rgba(139, 47, 47, 0.7) 0px 0px; }
}