.shopContainer
{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 60vw;
    align-self: center;
}

.productCard {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    border-radius: 15px;
}