.categorySortingContainer
{
    width: 12vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5vw;
    margin-top: 1vh;
    border: 3px solid #e0e0e0;
    border-radius: 15px;
}

.categoriesCheckboxes
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.categoriesCheckboxes label
{
    width: 55%;
}

.priceInput, .weightInput {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
}

.priceInput input, .weightInput input{
    
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

label {
    margin-left: 1vw;
    font-size: 2vh;
}

.searchButton {
    position: absolute;
    width: 100%;
    bottom: 1vh;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration-color: transparent;
}

.searchButton:hover {
    background-color: #e0e0e0;
    text-decoration: underline;
}
