.categorySortingContainer
{
    width: 12vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5vw;
    margin-top: 1vh;
    border: 3px solid #e0e0e0;
    border-radius: 15px;
}

.categoriesList {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;

}

.priceInput, .weightInput {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
}

.priceInput input, .weightInput input{
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.searchButton {
    position: relative;
    width: 100%;
    margin-top: 2vh;
    bottom: 1vh;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    font-size: 2vh;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    text-decoration-color: transparent;
}

.searchButton:hover {
    background-color: #e0e0e0;
    text-decoration: underline;
}

label {
    font-size: 2vh;
    margin-left: 1vw;
}

ul {
    list-style: none;
    padding: 0;
    left: 0;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
}

li label {
    font-size: 2vh;
    margin-left: 1vw;
}
li input {
    width: 1vw;
    height: 1vw;
}




